{{#if polls}}
    <ul style="margin-top: 2em;">
    {{#each polls as |poll|}}
    <!-- Need to add check of whether or not the user has answered this question -->
      <div class="question-detail">
        <div class="question-text">
          {{ poll.text }}
        </div>
        <form class="vote-form" action="/vote" method="POST">
          <div class="options">
            {{#each poll.answers as |answer|}}
              <input type="radio" name="choice" id="{{answer._id}}" value="{{answer._id}}" />
              <label for="{{answer._id}}"> &nbsp;{{answer.text}}</label><br>
              <p>{{answer.voters.length}} {{pluralize answer.voters.length 'vote' 'votes'}}</p>
            {{/each}}
          </div>
          {{#if err}}
            <p>{{err}}</p>
          {{/if}}
          <div class="submit-button-container">
            <input class="btn-vote submit-button" type="submit" value="Vote"/>
          </div>
          {{#if (userVoted poll)}}
            <p>You've already voted for this!</p>
          {{else}}
            <p>Well at least something is happening.</p>
          {{/if}}
          <!-- User should only be able to submit if they've been authenticated -->
        </form>
        <div class="question-info">
          <p>Asked on {{ dateFormat poll.created "MMM d, YYYY"}}</p>
        </div>
      </div>
      <br>
    {{/each}}
    </ul>
{{else}}
    <p class="message">No polls are available.</p>
{{/if}}
</div>

<!-- Shouldn't need to reload jquery here... loaded in base.html -->
<script src="/js/jquery.min.js"></script>
<script>
/*$(document).ready(function () {
  var question_id = "{{ view.question_id }}";
  var error_msg="{{ error_message }}";
  if (error_msg) { // jump to correct question when user gives no answer
    question_id = "{{ question_id }}";
  }
  if (!isNaN(question_id) && question_id) {
    var position = $('#' + question_id).position().top;
    $(document).scrollTop(position-100);
  }
});*/
</script>